
* {
    border: 0px; 
    margin: 0px;
        padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

/* vertical-line: Pensado para aplicar en un div para simular una linea vertical en browse */
.vertical-line {
    border-left: 4px solid #161612;
    height: 5rem;
    margin-left: calc(50% - 2px);
  }

.social-media-icon {
    width: 2rem;
}

.main-banner {
    background-image: url('../img/banner.png'); 
    background-position: 50% 0; 
    height: 20rem; 
    background-size: cover;
}

.carrousel-card{
    max-width: 20rem;
}

.logo-footer{
    height: 3rem; 
    width: auto;
}

.browse-list-text{
    width: fit-content;
}

.form-box{
    max-width: 18rem;
}

