/* CARROUSEL*/
.carrousel{
    &__body{
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        justify-content: space-around;
        padding: 1.5rem 2rem;
        font-weight: map-get($font-weight,bolder);

        &--steal-color{
            @extend .carrousel__body;
            background-color: $gray;
        }
        &--lavender-color{
            @extend .carrousel__body;
            background-color: $light;
        }
    }
    
    &__title{
        width: fit-content;
        margin-top: 2rem;
        padding: 1rem;
        @media screen and (max-width:650px) {  
            font-size:large;
        }
        @media screen and (max-width:365px) {  
            font-size: medium;
        }
        &--left{
            @extend .carrousel__title;
            margin-right: auto;
            transform: skew(45deg) translateX(-40px) scale(1.25,1);
            p {
                transform: scale(0.8,1) translateX(40px) skew(-45deg) ;
            }
        } 
        &--right{
            @extend .carrousel__title;
            margin-left: auto;
            transform: skew(-45deg) translateX(40px) scale(1.6,1);
            p {
                transform: scale(0.625,1) translateX(-40px) skew(45deg) ;
            }
        }
        &--saffron-color{
            background-color: $secondary;
        }
        &--fire-color{
            background-color: $primary;
        }
    }
    &__card{
        padding: 0.5rem;
        border-radius: 5px;
        
        &:hover{
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
    
    &__card-container {
        margin: 0 auto;
        width: fit-content;
        p {
            @media screen and (max-width:365px) {  
                font-size: small;
            }
        }
        img{
            max-width: 100%;
            height: auto;
        }
        &--white-text{
            p {
                color: $background;
                margin-top: 0.2rem;
            }
        }
    }
}