/* SIGN-W-BUTTON*/
.sign-w-button {
    display: block;
    width: 55%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    background-color: $gray;
    &:hover{
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
    }
    @media screen and (max-width:650px) {  
        width: 80%;
        text-align: center;
    }
    &--left {
        @extend .sign-w-button;
        margin: 0 auto 0 10%;

        @media screen and (max-width:650px) {  
            margin: 0 auto;
        }
    }
    &--right {
        @extend .sign-w-button;
        margin: 0 10% 0 auto;

        @media screen and (max-width:650px) {  
            margin: 0 auto;
        }
    }
    &__search-form{
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        max-width: 100%;
    }
    &__search-box {
        padding: 10px 20px ;
        background-color: $background;
        max-width: 100%;
        outline: none;
        border: 2px solid rgba(0,0,0,0);
        border-radius: 4px;
        &:focus {
            border: 2px solid $primary;
        }
    }
    &__search-button {
        padding: 10px 20px;
        background-color: $primary;
        border-radius: 7px;
        color: $background;
        font-weight: map-get($font-weight,bold);
    }
    &__text {
        font-size: larger;
        font-weight: map-get($font-weight,bolder);
        margin: 0 0 1rem 0;
        color: $background;

        @media screen and (max-width:470px) {  
            font-size: large;
        }
        @media screen and (max-width:365px) {  
            font-size: medium;
        }
    }
}