/* LOG IN SIGN*/
.login-sign{
    @include block-centered(0,0,fit-content);
    background-color: $light;
    padding-bottom: 3rem ;
    &__box{
        display: inline-block;
        width: 14rem;
        padding: 0.5rem;
        margin: 0 auto;
        @include outline-primary;
    }
    &__submit{
        @include block-centered(1rem,0,fit-content);
        padding: 1rem;
        border-radius: 7px;
        background-color: $primary;
        color: $background;
        font-weight: map-get($font-weight,bolder);
    }
    &__other-login-button{
        @include block-centered(0,0,fit-content);
        background-color: $gray;
        border-radius: 7px;
        padding: 0.7rem 1.5rem;
        color: $background;
    }
    &__signup-message{
        text-align: center;
        a{
            font-weight: map-get($font-weight,bolder);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}